<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="icon"
      type="image/png"
      href="../static/img/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="header">
            <br>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
        <div class="jumbotron">
            <h1>Pyquiz</h1>
            <h3>A web app by Thom Ernst</h3>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Begin Quiz!</a>
            </p>
        </div>
        <footer class="jumbotron" style="margin-left: 30%; margin-right: 30%">
            <details>
                <summary>2016-2017</summary>
                <p style="font-size: 100%"> Thom Ernst</p>
                <p style="font-size: 100%">Immaculata Instituut - Oostmalle</p>
            </details>
            <div>
                <a href="https://github.com/ThomE-immalle/GIP-Database-Project"><span class="fa fa-github fa-3x"></span></a>
                <a href="mailto:thom.ernst@immalle.be"><span class="fa fa-envelope fa-3x"></span></a>
            </div>
        </footer>
    </div>
</body>
</html>
